.weather-container {
  /* border: solid red 1px; */
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 30%;
  background-color: #f2f2f2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.weather-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-icon {
  margin-top: 10px;
  width: 12rem;
  height: 12rem;
}

.weather-temp, .weather-description {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 768px) {
  .weather-container {
    width: 100%;
    padding: 0;
  }
  .weather-description {
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {

}